@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration: none;}
ul{padding: 0; margin: 0;}
li{list-style: none;}
.section__gap{
    /* margin-bottom: 230px; */
    margin-bottom: 150px;
}
.menu__active{font-weight: 700 !important;}

h1{font-size: 85px; line-height: 100px; font-weight: 700;}
h2{font-size: 80px; line-height: 94px; font-weight: 700;}
h3{font-size: 50px; line-height: 70px; font-weight: 700;}
h4{font-size: 45px; line-height: 52px; font-weight: 700;}

h1{font-size: 85px;}


@media screen and (min-width: 1440px) {
    .container{
        width: 100%;
        max-width: 1420px;
    }
}

:root{
    --bg--primary: linear-gradient(93.02deg, #FA5A00 6.18%, #FF4004 156.79%);
    --color--primary : #F16126;
    --family--mont: 'Montserrat', sans-serif;
    --family--poppins: 'Poppins', sans-serif;
    
    --text--primary: #0C1F38;
    --text--primaryDeep: #31374C;
    --text--primaryLight : #8A9995;
    --text--seconday: #F16126;

    --white--primary: #fff;

    --radius--1: 25px;
    --radius--2: 38px;


    --font--11: 11px;
    --font--12: 12px;
    --font--14: 14px;
    --font--16: 16px;
    --font--18: 18px;
    --font--20: 20px;
    --font--22: 22px;
    --font--24: 24px;

    --box--shadow1: 4px 4px 10px rgba(0, 0, 0, 0.1);
}


/* =====login button===== */
a.login__btn{
    background: var(--bg--primary);
    color: var(--white--primary);
    font-size: var(--font--20);
    line-height: 24px;
    padding: 12px 32px;
    display: inline-block;
    border-radius: var(--radius--1);
    font-family: var(--family--mont);    
    font-weight: 500;
    border: 2px solid var(--color--primary);
    transition: 0.1s ease-in-out;
}
a.login__btn:hover{
    background: transparent;
    color: var(--color--primary);
}
/* =====login button===== */


/* =====banner button===== */
a.banner__btn{
    font-size: var(--font--24);
    padding: 12px 59px;
    font-weight: 600;
    color: #fff;
    border-radius: var(--radius--2);
    font-family: var(--family--mont);
    transition: 0.1s ease-in-out;
}
/* =====banner button===== */


/* =====course button===== */
a.course__btn{
    padding: 6px 8px;
    font-size: var(--font--12);
    font-weight: 500;
    background: var(--bg--primary);
    color: var(--white--primary);
    border-radius: 5px;
    border: 1px solid var(--color--primary);
    transition: 0.1s ease-in-out;
}

a.course__btn:hover{
    background: transparent;
    color: var(--color--primary);
}
/* =====course button===== */


/* =====section button====== */
a.section__btn{
    font-family: var(--family--mont);
    font-size: 600;
    font-size: var(--font--24);
    line-height: 30px;
    padding: 10px 21px;
    background: var(--text--primary);
    color: var(--white--primary);
    border-radius: 15px;
    display: inline-block;
    border: 2px solid var(--text--primary);
    transition: 0.1s ease-in-out;
}

a.section__btn:hover{
    background: transparent;
    color: var(--text--primary);
}
/* =====section button====== */












/* =============================================== 
        Home1 page css start here
 =============================================== */

 /* =====menu css start here===== */
.menu__section{
    font-family: var(--family--mont);
    z-index: 9;
    padding: 20px 0;
}

 .menu ul li {
    margin-right: 50px;
}

.menu ul li a{
    color: var(--text--primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.mobile__menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    /* height: 100vh; */
    width: 50%;
    background: linear-gradient(206.75deg, #ECF8FF 4.95%, #FBEEFF 50.21%, #FFFFFF 69.89%);
    transform: translateX(-150%);
    transition: 0.5s ease-in-out;
}

.show__menu{
    transform: translateX(0);
}

.menuSVG{
    font-size: var(--font--22);
    font-weight: bold;
}

.mobile__menu .logo{
    margin-bottom: 28px;
}

.mobile__menu .logo img{
    width: 180px;
}

.mobile__menu .cross{
    font-size: var(--font--22);
    cursor: pointer;
    
}

.mobile__menu ul li{
    margin-bottom: 20px;
}

.mobile__menu ul li a{
    font-size: var(--font--18);
    color: var(--text--primary);
}

@media screen and (max-width: 1400px) {
    .menu ul li{
        margin-right: 30px;
    }

    .menu ul li a{
        font-size: var(--font--16);
    }
}

@media screen and (max-width: 1199px) {
    .menu ul li{
        margin-right: 22px;
    }

    .menu ul li a{
        font-size: var(--font--16);
    }

    .menu ul a.login__btn{
        font-size: var(--font--16);
        padding: 6px 24px;
    }
}

@media screen and (max-width: 767px) {
    .menu__inner .logo img{
        width: 180px !important;
    }
}

@media screen and (max-width: 599px) {
    .mobile__menu{
        width: 100%;
        padding: 20px;
    }

    .mobile__menu ul a.login__btn{
        font-size: var(--font--16);
        padding: 6px 24px;
    }
}
 /* =====menu css end here======= */


 /* =====banner section css start here===== */
.banner__section{
    /* background-image: url(./assets/image/bg/home1.png);
    background-repeat: no-repeat;
    background-position: right; */
    background: linear-gradient(101.29deg, #FFF9F1 0%, #D5EBF7 100%);
}

.banner__inner{
    padding: 30px 0;
}

.banner__content h1{
    color: var(--text--primary);
    font-family: var(--family--mont);
}

.banner__content h1 span{
    color: var(--color--primary);
}

.banner__content p{
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
    font-family: var(--family--poppins);
    margin: 55px 0 40px;
    color: rgba(0, 0, 0, 0.55);
}

.banner__buttons a:first-child{
    margin-right: 20px;
    background: var(--bg--primary);
    border: 2px solid var(--color--primary);
}

.banner__buttons a:first-child:hover{
    color: var(--color--primary);
}

.banner__buttons a{
    background: var(--text--primary);
    border: 2px solid var(--text--primary);
}

.banner__buttons a:hover{
    background: transparent;
    color: var(--text--primary);
}

@media screen and (max-width: 1400px) {
    .banner__content h1{
        font-size: 65px;
        line-height: 72px;
    }
}

@media screen and (max-width: 1200px) {
    .banner__content h1{
        font-size: 48px;
        line-height: 58px;
    }

    .banner__content p{
        font-size: var(--font--16);
        margin: 25px 0;
    }

    a.banner__btn{
        padding: 6px 42px;
        font-size: var(--font--16)
    }
}

@media screen and (max-width: 992px) {
    .banner__section{
        background-image: url(./assets/image/section/home1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

 /* =====banner section css end here===== */


 /* =====course section css start here==== */

 h3.title{
    color: var(--text--primary);
    position: relative;
 }

 h3.title span{
    color: var(--color--primary);
 }

 h3.title span.underline{
    position: relative;
    padding-bottom: 5px;
 }

 h3.title span.underline::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 110px;
    background: #31374C;
    border-radius: 10px;
 }

 /* tab css */

 .nav-link:focus, .nav-link:hover{
    color: unset;
    border: unset;
    outline: none;
 }

.tab__buttons {
    margin: 100px 0 62px !important;
    line-height: 29px;
}

 .tab__btn {
    font-size: var(--font--24);
    border: none;
    outline: none;
    background: transparent;
    padding-bottom: 8px;
    margin-right: 85px;
    position: relative;

}

.tab__btn::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: var(--bg--primary);
    border-radius: 10px;
    bottom: 0;
    left: 0;
}

.tab__btn:hover::before{
    width: 100%;
}

.tab__btn:hover {
    color: var(--color--primary);
}

.tab__buttons .active{
    color: var(--color--primary);
}

.tab__buttons .active::before{
    width: 100%;
}
 /* tab css */

 .course__box{
    color: unset !important;
    box-shadow: var(--box--shadow1);
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
 }

.course__box .course__img{
    position: relative;
    overflow: hidden;
}

.course__box:hover .course__img img{
    transform: scale(1.1);
}

.course__box .course__img img{
    width: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.course__img p.mentor{
    position: absolute;
    font-size: var(--font--12);
    font-family: var(--family--mont);
    /* bottom: -8%; */
    bottom: 8px;
    left: 58%;
    font-weight: 600;
    padding: 11px 15px;
    background: #0A0762;
    color:var(--white--primary);
    border-radius: 5px;
}

.course__box .ratingReview{
    margin-right: 10px;
}

.review  span{
    color: #5F6765;
    font-size: var(--font--12);
}

.course__box .ratingReview .rating{
    margin-right: 4px;
}

.course__content{
    padding: 22px 25px;
    font-family: var(--family--mont);
}

.course__content h5 {
    font-size: var(--font--18);
    font-weight: 600;
    line-height: 24px;
    color: var(--text--primaryDeep);
}

.course__content > p{
    font-size: var(--font--12);
    font-weight: 400;
    line-height: 18px;
    color: var(--text--primaryLight);
    margin: 10px 0 20px;
    font-family: var(--family--poppins);
}

.course__content .review{
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}

.course__pricing p{
    font-size: var(--font--14);
    font-weight: 700;
    line-height: 18px;
    color: #143A4A;
}

 
/* =====course section css end here==== */


/* =====about section css start here===== */
.about__section{
    padding: 80px 0;
    background: #F6FBFF;
}

.imgSpan {
    position: relative;
}

.imgSpan img{
    z-index: 9;
    position: relative;
}

.imgSpan span {
    position: absolute;
    width: 148px;
    height: 180px;
    border: 8px solid var(--color--primary);
    z-index: 1;
    left: -35px;
    top: -35px;
}

.imgSpan.img2 span{
    left: unset;
    right: -35px;
    border-color: #7B8BDA;
}

.imgSpan.img3 span{
    bottom: -35px;
    top: unset;
    border-color: #0A0762;
}

.imgSpan.img4 span{
    left: unset;
    top: unset;
    bottom: -35px;
    right: -35px;
    border-color: #F3728B;
}

.about__content{
    color: #5F6765;
    font-family: var(--family--poppins);
}

.about__content p{
    width: 100%;
    max-width: 498px;
}

.about__content p, .about__content ul{
    font-size: var(--font--16);
    font-weight: 400;
    margin: 45px 0 25px;
}

.about__content ul{
    margin-bottom: 40px;
}

.about__content ul li{
    margin-bottom: 15px;
    /* padding-left: 40px; */
    position: relative;
}

.about__content ul li svg{
    margin-right: 25px;
}

/* .about__content ul li::after{
    position: absolute;
    content: '\f061';
    left: 0;
} */

@media screen and (max-width: 767px) {
    .imgSpan span{
        display: none;
    }

    .about__content h3.title{
        margin-top: 60px;
    }
}

/* =====about section css end here===== */


/* =====register section css start here===== */
.register__section{
    background-image: url(./assets/image/bg/registerBg.png);
    background-position: center;
    background-size: cover;
    padding: 48px 0;
}

.count__down__section{
    width: 100%;
    max-width: 600px;
}

.count__down__section h4{
    color: var(--white--primary);
}

.count__down__section p{
    margin: 38px 0;
    font-size: var(--font--18);
    color: #d5d5d5;
    font-weight: 400;
}

.count__down__section .count__box{
    height: 101px;
    width: 101px;
    border: 2px solid #FC4D02;
    border-radius: 50%;
    font-size: var(--font--18);
    color: var(--white--primary);
}

.count__down__section .count__box:nth-child(2){
    border-color: #B1E3DC;
}
.count__down__section .count__box:nth-child(3){
    border-color: #BEB1E9;
}
.count__down__section .count__box:nth-child(4){
    border-color: #FF1949;
}

.register__form{
    padding: 35px 40px;
    background: #f5f5f5;
    text-align: center;
    font-family: var(--family--poppins);
}

.register__form h5 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.register__form input, .register__form select {
    padding: 10px;
    width: 100%;
    margin-bottom: var(--font--20);
    outline: none;
    border: none;
    font-size: 18px;
}

.register__form select{
    margin-bottom: 40px;
}

.register__form button{
    margin: auto;
    width: 240px;
    text-align: center;
    font-size: var(--font--20);
    line-height: 29px;
    padding: 10px;
    outline: none;
    border: 2px solid var(--color--primary);
    background: var(--color--primary);
    border-radius: var(--radius--2);
    color: var(--white--primary);
    transition: 0.1s ease-in-out;
    font-family: var();
}

.register__form button:hover{
    background: transparent;
    color: var(--color--primary);
}

@media screen and (max-width: 575px) {
    .register__form{
        padding: 20px;
    }
}

/* =====register section css start here===== */


/* =====footer section css start here===== */
.footer__section{
    padding: 115px 0;
    background: var(--text--primary);
    color: #d5d5d5;
    font-family: var(--family--poppins);
}

.footer__left p{
    font-size: var(--font--18);
    margin: 42px 0 30px;
    font-weight: 300;
}

.footer__left ul li{
    margin-right: 22px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #25283d;
    text-align: center;
    border-radius: 50%;
}

.footer__left ul li:hover{
    background: var(--white--primary);
}

.footer__left ul li:hover a{
    color: #25283d;
}

.footer__left ul li a{
    font-size: 27px;
    color: #fff;
}

.footer__menu h5{
    font-family: var(--family--mont);
    font-size: var(--font--24);
    color: #fff;
    margin-bottom: 40px;
}

.footer__menu ul li{
    margin-bottom: 20px;
}

.footer__menu ul li:last-child{
    margin-bottom: 0;
}

.footer__menu ul li a{
    color: #d5d5d5;
    font-size: var(--font--18);
    font-weight: 300;
}
/* =====footer section css end here===== */

/* =============================================== 
        Home1 page css end here
 =============================================== */